<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{url_for('static',filename='css/chat_styles.css')}}" />
  <title>Чат</title>
</head>

<body>
  <header>
    <h1>PythonSW</h1>
    <form action="{{url_for('list_users')}}">
      <input type="submit" value="Список пользователей" />
    </form>
  </header>
  <div>
    {% for i in messages %}
    <p>{{i}}</p>
    {% endfor %}
  </div>
  <form action="" method="post">
    <input type="text" name="text" />
    <input type="submit" value="Отправить" />
  </form>
</body>
<script>
  window.onload = setupRefresh;
  function setupRefresh() {
    setTimeout("refreshPage();", 50000);
  }
  function refreshPage() {
    window.location = location.href;
  }
</script>

</html>